.pageText
{
    margin-top: 75px;
    text-align: center;
    color: rgb(81, 117, 21);
    font-weight: 600;
    line-height: 1.5;
    
}

.pageTextParagraph
{
    max-width: 575px;
    margin-left: auto;
    margin-right: auto;
}


.phoneNumber
{
    color: #86654e;
    text-decoration: underline;
}

.pageHeader
{
    font-size: 16px;
    font-weight: 600;
}

.appointmentHeader
{
    display: flex;
    align-items: center;

    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    margin-top: 50px;
}

.headerLeft
{
    padding-top: 3px;
    flex: 1;
    display: flex;
    align-items: center;
}

.pageTitle
{
    flex: 1; 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.headerRight
{
    flex: 1;
}

.selectappointmentBack
{
    border: none;
    color: rgb(81, 117, 21);
    background-color: transparent;
    cursor: pointer;
    font-size: 10px;
    font-weight: 600;
    font-family: "Open Sans";
}

.backButtonContainer
{
    display: flex;
    align-items: center;
    width: fit-content;
}

.arrowIcon,
.selectappointmentBack
{
    transition:
        transform 0.3s ease,
        opacity 0.3s ease;
}

.backButtonContainer:hover .arrowIcon
{
    transform: translateX(-20px);
    opacity: 0;
}
.backButtonContainer:hover .selectappointmentBack
{
    transform: scale(1.1);
}



