.appointmentHeaderv2
{
    font-family: "Open Sans";
    font-weight: 600;
    color: rgb(81, 117, 21);
    font-size: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    max-width: 800px;
}

.selectedappointmentcardContainer
{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

    border: 1px solid white;
    box-shadow: 0 1px 10px rgba(0,0,0,0.08);
}

.selectedappointmentCard
{
    padding-bottom: 10px;
    padding-top: 10px;

    align-items: flex-start;
    justify-content: space-between;
    display: flex;

    gap: 100px;
    color:rgb(81, 117, 21, 0.90);
    font-size: 12px;
    font-weight: 500;

    border-bottom:1px solid rgba(80, 117, 21, 0.25);
}

.selectedappointmentCard:last-child
{
    border-bottom: none;
}

.selectedappointmentcardText h3
{
    margin-bottom: 5px;
    margin-left: 30px;
}

.selectedappointmentcardText p
{
    margin-top: 0;
    margin-left: 30px;
}

.selectedbackButton
{
    color: rgb(81, 117, 21);
    background: transparent;
    border: none;
    cursor: pointer;
    margin-right: 15px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
    transition: .3s;
}

.selectedbackButton:hover
{
    transform: scale(125%, 125%);
    color: rgba(81, 117, 21, 0.75);
}

.bookingtimesContainer
{
    display: relative;
    max-width: 800px;
    border: 1px solid white;
    box-shadow: 0 1px 10px rgba(0,0,0,0.08);
    margin: auto;
    margin-top: 25px;
}

.timezoneContainer
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.timeZone
{
    color: rgb(81, 117, 21);
    font-size: 8px;
    font-weight: 600;
}

.dateHeader
{
    flex: 1;
    display: flex;
    gap: 10px;

    justify-content: space-between;
}

.dateHeaderCenter
{
    flex: 1;
    display: flex;
    gap: 10px;

    justify-content: space-between;
}

.dateRow
{
    text-align: center;
    width: 130px;
    color: rgb(81, 117, 21);
    margin: auto;
}


.dateLabel
{

    font-weight: 600;
    font-size: 8px;
    letter-spacing: .5px;
}

.dateWeekday
{
    font-size: 12px;
    margin: 0;
}

.dateNumber
{
    margin-top: 0;
    font-size: 12px;
}

.dateNavigation
{
    display: flex;
    align-items: flex-start;
    margin: auto;
    width: 800px;
}

.moveDatesRight
{
    padding-top: 25px;
    border: none;
    color: rgb(81, 117, 21);
    background: transparent;
    cursor: pointer;
    transition: .3s;
}

.moveDatesLeft
{
    padding-top: 25px;
    border: none;
    color: rgb(81, 117, 21);
    background: transparent;
    cursor: pointer;
    transition: .3s;
}

.moveDatesLeft:hover
{
    transform: scale(125%, 125%);
    color: rgba(81, 117, 21, 0.75);
}

.moveDatesRight:hover
{
    transform: scale(125%, 125%);
    color: rgba(81, 117, 21, 0.75);
}

.bookingTimes
{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.bookingColumn
{
    width: 130px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.calendarContent
{
    flex: 1;
}

.timeButton
{
    background: transparent;
    border: 1px solid rgba(80, 117, 21, 0.25);

    color: rgb(81, 117, 21);
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 12px;
    padding: 16px 32px;
    cursor: pointer;
    transition: .2s;
}

.timeButton:hover
{
    background: rgba(81, 117, 21, 0.15);
}